@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');


:root {
  --color-fondo-body: #4D55CC;
  --color-fondo-legend: #211C84;
  --color-fondo-fieldset: #161b22;
  --color-form-focus: #0C0950;
  --color-texto: #EFE9D5;
  --color-titulo: #578FCA;
  --color-acento: #58a6ff;
  --color-boton: #2D336B;
  --color-boton-hover: #7886C7;
}

body {
  background-color: var(--color-fondo-body);
  color: var(--color-texto);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background-video {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.barra__navegacion {
  background-color: var(--color-fondo-legend);
  color: var(--color-texto);
  width: 100%;
}

.barra__navegacion__titulo__radio {
  justify-content: center;
}


.boton__estilo {
  background-color: var(--color-boton);
  color: var(--color-texto);
  border: 1px solid var(--color-acento);
}

.boton__estilo:hover {
  background-color: var(--color-boton-hover);
}

.titulo {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-titulo);
  margin: 1rem 0;
}

.formulario {
  width: 100%;
  background-color: var(--color-fondo-fieldset);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--color-acento);
  animation: glow 2s infinite;
}

.fieldset {
  background-color: var(--color-fondo-fieldset);
  border: 1px solid var(--color-acento);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.fieldset__actividades {
  background-color: var(--color-fondo-fieldset-1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--color-acento);
  padding: 2rem 1rem;
}

.fieldset__legend {
  background-color: var(--color-fondo-legend);
  color: var(--color-acento);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
}

.fieldset:focus-within {
  background-color: var(--color-form-focus);
}

.fieldset__actividades:focus-within {
  background-color: var(--color-form-focus);
}

.input,
.textarea,
.formulario__select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.7rem 0;
  border: 1px solid var(--color-acento);
  border-radius: 0.3rem;
  background-color: var(--color-fondo-body);
  color: var(--color-texto);
}


.input:focus,
.textarea:focus,
.formulario__select:focus {
  outline: none;
  border-color: var(--color-boton);
  background-color: var(--color-fondo-legend);
}


.dot-divider span {
  background-color: var(--color-acento);
  }

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px var(--color-acento);
  }

  50% {
    box-shadow: 0 0 20px var(--color-acento), 0 0 30px var(--color-acento);
  }
}
