@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Smythe&display=swap');

:root {
  --color-fondo-body: #1F2023;
  --color-fondo-legend-1: #2C2C2E;
  --color-fondo-legend-2: #2B3D37;
  --color-fondo-fieldset-1: #B3B4B6;
  --color-fondo-fieldset-2: #808184;
  --color-texto-1: #F6F6F6;
  --color-texto-2: #000000;
  --color-headings: #2AA146;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-image: url("../media/images/retro.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-family: "Smythe", system-ui;
  color: var(--color-texto-2);
  font-size: 1.1rem;
}

.barra__navegacion {
  background-color: var(--color-fondo-legend-1);
  color: var(--color-texto-1);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra__navegacion__botones {
  display: flex;
  gap: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}


.titulo {
  text-align: center;
  width: 100%;
  font-family: "Press Start 2P", system-ui;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #F6F6F6;
  border-top: 10px solid var(--color-fondo-legend-1);
  border-bottom: 10px solid var(--color-fondo-legend-1);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin: 1rem 0;
  padding-top: 1rem;
  color: var(--color-headings);
}


.formulario {
  width: 100%;
}

/* Divisor entre fieldsets */

.dot-divider {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px 0;
}

.dot-divider span {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-headings);
  border-radius: 50%;
}

/* ------------------------- */

.fieldset {
  background-color: var(--color-fondo-fieldset-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  padding: 2rem 1rem;
}

.fieldset:focus-within {
  background-color: var(--color-fondo-fieldset-2);
}

.fieldset__legend {
  background-color: var(--color-fondo-legend-1);
  color: var(--color-headings);
  height: 2.2rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  font-weight: normal;
  font-family: "Press Start 2P", system-ui;
  padding-top: 0.7rem;
  font-size: 0.9rem;
}

.input {
  width: 80%;
  height: 1.5rem;
  text-align: end;
}

.input:focus {
  background-color: var(--color-fondo-legend-1);
  outline: none;
  color: var(--color-texto-1);
  text-align: end;
}

.formulario__select {
  width: 80%;
  height: 1.5rem;
}

.textarea {
  width: 80%;
  height: 8rem;
  resize: vertical;
}

.textarea:focus {
  background-color: var(--color-fondo-legend-1);
  outline: none;
  color: var(--color-texto-1);
}

.fieldset__actividades {
  background-color: var(--color-fondo-fieldset-1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  padding: 2rem 1rem;
}

.fieldset__actividades:focus-within {
  background-color: var(--color-fondo-fieldset-2);
}

.formulario__condiciones {
  color: var(--color-texto-1);
  line-height: 1.5rem;
  margin: 1rem 0;
}

.formulario__botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.boton__estilo {
  background-color: var(--color-fondo-legend-1);
  color: #F6F6F6;
  border: 1px solid var(--color-fondo-legend-2);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonRecordarSinPresionar {
  background-color: green !important;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  /* Ensure this style is applied */
}

.botonRecordarPresionado {
  background-color: red !important;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;

  /* Ensure this style is applied */
}

.boton__estilo:hover {
  background-color: var(--color-fondo-fieldset-2);
  color: var(--color-fondo-legend-1);
}

/* Media queries */
@media (max-width: 768px) {
  .main {
    width: 90%;
  }

  .barra__navegacion {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 530px) {
  .radio_style_selection {
    display: block;
  }

  .fieldset__legend {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  .barra__navegacion__botones {
    gap: 1rem;
  }
}